.App {
  text-align: center;
  padding-top: 15%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  color: #1b4570;
}
.search-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  position: relative;
  .form-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      text-align: center;
    }
  }
  .results-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-top: 12.5%;
    .suggestion-active {
      background-color: lightgoldenrodyellow;
    }
    .single-result {
      display: flex;
      align-self: center;
      justify-content: space-between;
      padding: 0 5%;
      text-decoration: none;
      width: 100%;
      border: 1px solid black;
      height: 8vh;
      &:hover {
        background-color: lightgoldenrodyellow;
      }
      .result-info {
        display: flex;
        align-self: center;
        font-size: 2vh;
      }
    }
  }
}

.button.ui.button {
  border-radius: 20px;
  font-size: 1.25rem;
  margin: 3%;
}
