.App {
	text-align: center;
	padding-top: 11%;
	padding-bottom: 12%;
	// height: 100vh;
	// min-height: 100vh;
}

.MuiTypography-body2 {
	font-size: 25;
}
.button.ui.button {
	border-radius: 20px;
	font-size: 1.25rem;
	margin: 3%;
}

.boldInput {
	font-weight: bold;
}
